body {
    color:  green;
    background-color: bisque;
}

.bluecolor {
    color: blue;
    background-color: red;
    font-family: 'Fascinate', cursive;
    text-align: center;
    letter-spacing: 10px;
    word-spacing: 10px;
    line-height: 60px;
}

#red {
    color: red;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: large
}

.red {
    background-color: red;
    display: block;
}

ul {
    list-style:square
}

.box {
    border: 1px solid blue;
    border-radius: 10px;
    padding: 10px;
    margin: 10px
}

th, td {
    border: 1px solid blue;
    font-size: 60px;
    height: 100px;
}

th {
    background-color: aquamarine;
}

table {
    border-collapse: collapse;
    text-align: center;
    vertical-align: middle;
    width: 70%;
}