* {
    background-color: #2C3333;
}

.parent {
    display: flex;
    margin-top: 100px;
    justify-content: space-around;
    align-items: center;
}

.child-1 {
    color: #A5C9CA;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 70px;
}

.child-2 {
    width: 400px;
    border-radius:5%;
}

span {
    color: #E7F6F2;
}