body {
    color:  green 
}

.bluecolor {
    color: blue;
    background-color: red;
    font-family: 'Fascinate', cursive;
    text-align: center;
    letter-spacing: 10px;
    word-spacing: 10px;
    line-height: 60px;
}

#red {
    color: red;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: large
}

ul {
    list-style:square
}