* {
    background-color: white;
}

.red {
    color: red;
    background-color: green;
    font-family: sans-serif;
    font-weight: 100;
    font-size: large;
}

#red {
    color: red;

}

th,
td {
    border: 1px solid blue;
    font-size: 60px;
    height: 100px;
    font-family: sans-serif;
}

th {
    background-color: aquamarine;
}

table {
    border-collapse: collapse;
    text-align: center;
    vertical-align: middle;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}